.navContianer {
  position: fixed;
  z-index: 1000;
}

.row {
  background-color: var(--color-primary-3);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.userInfo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.userInfo > span {
  display: flex;
  align-items: center;
  height: 5rem;
}

.userLinkDark > img,
.userLinkLight > img {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  cursor: pointer;
}

.userLinkDark,
.userLinkLight {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  text-decoration: none;
}

.userLinkDark {
  color: #fff;
}

.setting {
  font-size: 1.4rem;
  cursor: pointer;
  color: rebeccapurple;
}

.logoContainer > span {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.logoImg {
  width: 8rem;
  height: 8rem;
  cursor: pointer;
}

.userInfo > span {
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.plusIcon {
  font-size: 2rem;
  color: rebeccapurple;
}

.addPostLinkLight {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #2b2b2b;
}

.addPostLinkLight:hover {
  color: #2b2b2b;
}

.addPostLinkDark {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

.addPostLinkDark:hover {
  color: #fff;
}

.settingOption {
  position: absolute;
  top: 4rem;
  right: 3rem;
  background-color: rgb(252, 251, 251, 1);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  width: 8rem;
  z-index: 150;
  border: 1px solid var(--color-primary-1);
}

.settingOption > ul {
  list-style: none;
}

.settingOption > ul > a > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.2rem !important;
  cursor: pointer;
}

.barWrapper {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.barWrapper > svg {
  font-size: 2rem;
  color: rebeccapurple;
}

.barsOption {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 15rem;
  justify-content: center;
  align-items: center;
  border-radius: 8px 0 0 8px;
  background-color: rgba(255, 255, 255, 0.671);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}

.timesIcon {
  position: absolute;
  top: 0;
  left: 0;
}

.timesIcon > svg {
  color: red;
  font-size: 1.5rem;
}

.avatar {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  border-radius: 50%;
}

@media screen and (max-width: 768px) {
  .row {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 999;
  }

  .logoImg {
    width: 6rem !important;
    height: 6rem !important;
  }
}
